body {
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: -8px;
     background: #e0e5ec;
     background: url("../assets/img/1.jpg");
     background-repeat: no-repeat;
  }

  .brand-logo {
    height: 115px;
    width: 115px;
    background: url("../assets/img/logo.jpg");
    margin: auto;
    margin-left: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 15px 15px 18px #cbced1, -15px -15px 18px white;
  }


  .brand-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 3.0rem;
    color: #353535;
    letter-spacing: 1px;
  }



  .next_getway {
    font-size: 80px;
    font-weight: bold;
    margin: auto;
    margin-left: 40px;
    box-sizing: border-box;
    box-shadow: 15px 15px 18px #cbced1, -1px -1px 4px white;
    background: green;
    margin-top: 250px;
    color: #ffffff;
  }

  .next_getway:focus {
    font-size: 80px;
    font-weight: bold;
    margin: auto;
    margin-left: 40px;
    box-sizing: border-box;
    box-shadow: 15px 15px 18px #cbced1, -1px -1px 4px white;
    background: green;
    margin-top: 250px;
    color: #ffffff;
  }

  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: mediumseagreen;
     color: white;
     text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  hr.style-one {
       height: 12px;
border: 0;
box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }